<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Counter Editor</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">  

    <style>
        #closer{
            float:left;
        }
        #deleter{
            float:right;
        }

    </style>
    <link rel="stylesheet" href="/stylesheets/stuffStyle.css">

</head>

<body>

    <div class="container"> 
        <div class="section">
            
            <h2>Details</h2>
            
            <a class="btn-flat btn-large" href="../counter">
                <i class="material-icons">arrow_back</i>
            </a>
    
            <table class="striped">
                <tr>
                    <th>Item:</th>
                    <td>Toes</td>
                </tr>
                <tr>
                    <th>Quantity:</th>
                    <td>10</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>This is for you to count how many toes you have.</td>
                </tr>

            </table>
        </div>

        <div class="section">
            <a class="waves-effect waves-light btn modal-trigger" href="#itemEdit">
                <i class="material-icons right">edit</i>
                Edit
            </a>

            <a class="waves-effect waves-light btn red" id="deleter">
                <i class="material-icons right">delete</i>
                Delete
            </a>
        </div>

        <div class="modal" id="itemEdit">
            
            <div class="modal-content">
                <h3>Edit Item:</h3>
                <form>
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="Counter Name" id="counter_name" type="text" class="validate">
                                
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="Quantitiy" id="quantity" type="number" class="validate">
                        </div>

                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Description" id="description" type="text" class="validate">
                        </div>

                    </div>
                
                    <div class="modal-footer">
                        <a class="modal-close btn-flat" href="counter\edit" id="closer">Close</a>

                        <button class="waves-effect waves-light btn" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>
            </div>

            
        </div>
    </div>

     <!-- Materialize JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

     <!-- initialize Materialize elements -->
     <script> M.AutoInit();</script>

</body>



</html>
